<h1 align="center"><%= 'Innovation Dashboard' %></h1></br ></br >

<div class="container">  
  <div class="row">        
    <div class="col-md-12">
    	<div class="col-md-4">
    		<img src="/assets/images/IpDev.png" class="img-rounded" alt="Cinque Terre" width="131" height="114">
    	</div>
    	
    	<div class="col-md-8"></br ></br >
	    	<blockquote class="pull-right">
		      	<p><i>Create innovative solutions that deliver rapid value and make users productive.</i></p>
		      	<small>Mission Statement </small>
		    </blockquote>	     
		</div>
    </div>    
  </div>
</div>

</br ></br >
<div class="container">  
  <div class="row">        
    <div class="col-md-12">
    	<div class="col-md-10"></br ></br >
	    	<blockquote>
		      	<p><i>Innovation is no longer one of those 'nice things to do' if we have a bit of time to spare. It's business critical.</i></p>
		    </blockquote>
		</div>

		<div class="col-md-2">
			<img src="/assets/images/Thought.png" class="img-rounded" alt="Cinque Terre" width="195" height="147">
		</div>
    </div>
  </div>
</div>

</br ></br ></br >
<div class="container">
	<div class="row">        
			<div class="col-md-12"> 
				<div class="panel panel-default">
	              <div class="panel-body">
	                <h5>Write up on Innovation initiative for 2015 - Ask Pratik. Write up on Innovation initiative for 2015 - Ask Pratik. Write up on Innovation initiative for 2015 - Ask Pratik. Write up on Innovation initiative for 2015 - Ask Pratik. Write up on Innovation initiative for 2015 - Ask Pratik. Write up on Innovation initiative for 2015 - Ask Pratik. Write up on Innovation initiative for 2015 - Ask Pratik. Write up on Innovation initiative for 2015 - Ask Pratik. </h5>
	              </div>
			</div>
		</div>
	</div>
</div>


</br ></br >
<div class="container">
	<div class="row">        
		<!-- <div class="col-md-12"> -->
			<div class="col-md-12"> 
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 align="center" class="panel-title">Knowledge and Culture - Javed</h3>
			  		</div>
			  		<div class="panel-body">
			    		<p>Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. </p>
			    		 <ul>
						  	<li><h4>Know Your Clients<h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Pratik, Javed</i><h5</li>
						  		<ul style="list-style-type:square">
							  		<li><h5>Collaboration (AMS, UC etc.)</h5></li>
							  		<li><h5>Health Conferences</h5></li>
						  		</ul>
						  	</ul>
						  	<li><h4>Meet-ups</h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Amborish, Mahes, Anitha</i></h5></li>
						  		<ul style="list-style-type:square">
						  			<li><h5>Patents, KLA's etc.</h5></li>
						  		</ul>
						  	</ul>
						  	<li><h4>Experience It</h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Pratik, Ram, Chetan</i></h5></li>
						  		<ul style="list-style-type:square">
						  			<li><h5>CSR, Healthe Clinc</h5></li>
						  		</ul>
						  	</ul>
						</ul> 
			  		</div>
				</div>
			</div>

			<div class="col-md-12"> 
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 align="center" class="panel-title">Process and Ecosystem - Deepak</h3>
			  		</div>
			  		<div class="panel-body">
			    		<p>Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. </p>
			    		 <ul>
						  	<li><h4>Shift Left Ecosystem<h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Deepak(VC++), Rahul(C#), Santosh (MPages, Java)</i></h5></li>
						  	</ul>
						  	<li><h4>Keep it simple<h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Rachana</i></h5></li>
						  	</ul>
						</ul> 
			  		</div>
				</div>
			</div>

			<div class="col-md-12"> 
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 align="center" class="panel-title">Technology and Solution - Ram</h3>
			  		</div>
			  		<div class="panel-body">
			    		<p>Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. Write up for initiative - from initiative owners. </p>
			    		 <ul>
						  	<li><h4>Tech Currency<h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Rahul, Lloyd(C#-WPF), Rajesh(MPages)</i></h5></li>
						  	</ul>
						  	<li><h4>Advance Platforms<h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Ajith(Orion)</i></h5></li>
						  		<li><h5><i>Owners: Vipin(SMART on FHIR)</i></h5></li>
						  	</ul>
						  	<li><h4>Next Gen Analytics and Reporting<h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Javed</i></h5></li>
						  	</ul>
						  	<li><h4>Vision and Industry Standard<h4></li>
						  	<ul style="list-style-type:circle">
						  		<li><h5><i>Owners: Ram, Chetan, Pratik</i></h5></li>
						  	</ul>
						</ul> 
			  		</div>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>



</br ></br >
<div class="container">  
  <div class="row">        
    <div class="col-md-12">
    	<div class="panel panel-default">
    		<div class="panel-body">
      			<%= high_chart("my_id6", @chart6) %>
      		</div>
      	</div>
    </div>
  </div>
</div>
<!--

</br ></br ></br >
<div class="container">
	<div class="row">        
		<div class="col-md-12">
			<div class="panel panel-default">
	              <div class="panel-body">
	              		<h4 align="center"><i>Initiatives Health</i></h4></br >
					<div class="col-md-4"> 
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 align="center" class="panel-title">Knowledge and Culture</h3>
				  			</div>
				  			<div class="panel-body">
				    			A meter indicating initiative status will be displayed here				    			
				  			</div>
						</div>
					</div>

					<div class="col-md-4"> 
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3 align="center" class="panel-title">Process and Ecosystem</h3>
					  		</div>
					  		<div class="panel-body">
					    		A meter indicating initiative status will be displayed here
					  		</div>
						</div>
					</div>

					<div class="col-md-4"> 
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h3 align="center" class="panel-title">Technology and Solution</h3>
					  		</div>
					  		<div class="panel-body">
					    		A meter indicating initiative status will be displayed here
					  		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= high_chart("my_id7", @chart7) %> -->