<h1 align="center"><%= 'Innovation Dashboard' %></h1></br ></br >

<div class="container">  
  <div class="row">        
    <div class="col-md-12">
    	<div class="col-md-4">
    		<img src="/assets/images/IpDev.png" class="img-rounded" alt="Cinque Terre" width="131" height="114">
    	</div>
    	
    	<div class="col-md-8"></br >
	    	<blockquote class="pull-right">
		      	<p><i>Create innovative solutions that deliver rapid value and make users productive.</i></p>
		      	<small>Mission Statement </small>
		    </blockquote>	     
		</div>
    </div>
  </div>
</div>

</br ></br >
<div class="container">  
  <div class="row">        
    <div class="col-md-12">
      <%= high_chart("my_id6", @chart6) %>
    </div>
  </div>
</div>

</br ></br >
<div class="container">  
  <div class="row">        
    <div class="col-md-12">
    	<div class="col-md-10"></br ></br >
	    	<blockquote>
		      	<p><i>Innovation is no longer one of those 'nice things to do' if we have a bit of time to spare. It's business critical.</i></p>
		    </blockquote>
		</div>

		<div class="col-md-2">
			<img src="/assets/images/Thought.png" class="img-rounded" alt="Cinque Terre" width="195" height="147">
		</div>
    </div>
  </div>
</div>

</br ></br ></br >
<div class="container">  
  <div class="row">        
    <div class="col-md-12">
		<div class="col-md-4"> 
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 align="center" class="panel-title">Knowledge and Culture</h3>
		  		</div>
		  		<div class="panel-body">
		    		Panel content
		  		</div>
			</div>
		</div>

		<div class="col-md-4"> 
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 align="center" class="panel-title">Process and Ecosystem</h3>
		  		</div>
		  		<div class="panel-body">
		    		Panel content
		  		</div>
			</div>
		</div>

		<div class="col-md-4"> 
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 align="center" class="panel-title">Technology and Solution</h3>
		  		</div>
		  		<div class="panel-body">
		    		Panel content
		  		</div>
			</div>
		</div>
	</div>
</div>