<%- model_class = Procandeco -%>
<div class="col-md-5 col-md-offset-2">
<div class="page-header">
  <!-- <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1> -->
   <h1><%='Edit the idea' %></h1>
</div>
<%= render :partial => 'form' %>

</div>

<div class="col-md-4 col-md-offset-1">.
     <h3 align="center"><%= 'Process & Ecosystem' %></h3>
    <p>As a part of Process and Ecosystem initiative, the following are the imperative owners for the various ideas.  Make sure that you select one of these imperative owners while editing an existing idea. 
    
    </br >
  	
  	</br >+ Deepak(VC++), Rahul(C#), Santosh (MPages,Java)
  	</br >+ Rachana
  	</p>
</div>