<%- model_class = Procandeco -%>
<div class="col-md-5 col-md-offset-2">
<div class="page-header">
  <!-- <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1> -->
 	<h2><%= 'Create a new idea' %></h2>
</div>
<%= render :partial => 'form' %>
</div>

<div class="col-md-4 col-md-offset-1">.
	<h3 align="center"><%= 'Process & Ecosystem' %></h3>
	<p>As a part of Process and Ecosystem initiative, the following are the imperative owners for the various ideas.  Make sure that you select one of these imperative owners while creating a new idea. 
    
    </br >
  	
  	</br >+ Deepak(VC++), Rahul(C#), Santosh (MPages,Java)
  	</br >+ Rachana
  	</p>
</div>
